<div id="quotes" class="clearfix">
  <div class="row">
    <div class="col-xs-8">
      <pfng-card [config]="chartCardConfig"
          (onFilterSelect)="handleChartFilterSelect($event)">
        <pfng-sparkline-chart [config]="chartConfig" [chartData]="chartData" ></pfng-sparkline-chart>
      </pfng-card>
      <!--
      <pfng-card [config]="chartCardConfig"
          (onFilterSelect)="handleChartFilterSelect($event)">
        <pfng-sparkline-chart [config]="chartConfig" [chartData]="chartData" ></pfng-sparkline-chart>
      </pfng-card>
      -->
    </div>
    <div class="col-xs-4">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
        <pfng-card [config]="chartCardConfig"
          (onFilterSelect)="handleChartFilterSelect($event)">
        </pfng-card>
    </div>
    <div class="col-xs-4">

    </div>
  </div>
</div>