<div id="quotes" class="clearfix">
  <div class="row">
    <div class="col-xs-8">
      <pfng-card [config]="rhChartCardConfig"
          (onFilterSelect)="handleChartFilterSelect($event)">
        <pfng-sparkline-chart [config]="rhChartConfig" [chartData]="rhChartData" ></pfng-sparkline-chart>
      </pfng-card>
    </div>
    <div class="col-xs-4">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <pfng-card [config]="ibmChartCardConfig"
          (onFilterSelect)="handleChartFilterSelect($event)">
        <pfng-sparkline-chart [config]="ibmChartConfig" [chartData]="ibmChartData" ></pfng-sparkline-chart>
      </pfng-card>
    </div>
    <div class="col-xs-4">

    </div>
  </div>
</div>