.environment-info {
   color: #ffffff;
   font-size: 1.5em;
   padding: 15px;
}

.ml-5 {
   margin-left: 40px !important;
}

@media (max-width: 768px) {
   .navbar-collapse.collapse {
      display: block!important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible!important;
   }
}
@media (max-width: 768px) {
   .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none;
   }
}